<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>您访问的页面找不到啦！</title>
	<link rel="stylesheet" type="text/css" href="/css/404.css" />
</head>
<body>
	<div class="error">
		<a href="/index.html">返回首页</a>
	</div>
<!--	
	<section class="wrapper">
		<header>
			<a class="logo" title="回到首页" href="/index.html"></a>
		</header>
		<section class="main">
			<h1>出错啦：您可能输入了错误的网址，或者该网页已删除或移动。</h1>
			<p>1、您可以试着访问彩吧的其他内容，此页面将在5秒后转向到首页。</p>
			<p>2、点击<a href="/index.html">回到首页</a>。</p>
		</section>
		<footer>
			<h3>更多精彩内容推荐：</h3>
			<ul>
				<li>
					<strong>福彩：</strong>
				</li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
			</ul>
			<ul>
				<li>
					<strong>体彩：</strong>
				</li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
			</ul>
			<ul>
				<li>
					<strong>其它：</strong>
				</li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
				<li><a href="/index.html">双色球</a></li>
			</ul>
		</footer>
	</section>
-->	
</body>
</html>