<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	</head>
	<body>
		<section class="wrapper">
			<header>header</header>
			<section class="content">
				<p id="p">主题内容afsbnfks</p>
				<a href="/detail.html">详情</a>
				<a href="/detail1.html">404</a>
			</section>
			<footer>footer</footer>
		</section>
		<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
